page-mapa {
    .local-selecionado{
        background-color:#00EE00;
    }
    .destino-selecionado{
         background-color:#EE0000;
    }
    ion-scroll{
        position: relative;     
        margin: 0;
        padding: 0;      
        top: 0;
        left: 0; 
        height: 300px;
    }     .mapa-container {
    background: url(assets/imgs/campus.png);
    position: absolute;
    top: -82px;
    left: -96px;
    width: 731px;
    height: 449px;
    
}
    .trajeto-container{
       
        position: absolute;
        top: 0;
        left: 0;        
        width: 731px;
        height: 449px;        
    }
    .C-PS{
         background:url("assets/imgs/Oscar Machado - AB.png");
    }
        .AB-C{
         background:url("assets/imgs/AB - C.png");
    }
}

