<!--
  Generated template for the MapaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mapa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-scroll scrollX="true" scrollY="true">
    <div class="mapa-container"></div>
    <div class="trajeto-container"></div>
  </ion-scroll>
  <div>
    <h1>Clique na sua localização</h1>
  </div>
  <div *ngIf="localSelecionado.description">
    <div>
      Descrição:{{localSelecionado.description}}
    </div>
  </div>
</ion-content>