page-mapa {
    .local-selecionado{
        background-color:#00EE00;
    }
    .destino-selecionado{
         background-color:#EE0000;
    }
    ion-scroll {
    /* margin: 0; */
    border: solid 4px;
    position: relative;
    margin: 10px;
    padding: 0px;
    top: 0;
    left: 0;
    height: 300px;
    box-shadow: rgba(0,0,0,0.3) 2px 10px;
}    .mapa-container {
    background: url(../assets/imgs/campus2.png);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 731px;
    height: 449px;
    
}
    .trajeto-container{
       
        position: absolute;
        top: 0;
        left: 0;        
        width: 731px;
        height: 449px;        
    }
  
}

page-mapa .AB-C {
  background: url("../assets/imgs/AB - C.png");
}

page-mapa .C-AB {
  background: url("../assets/imgs/AB - C.png");
}

page-mapa .SAN-PS {
  background: url("../assets/imgs/Santhiago - Paula Souza.png");
}

page-mapa .PS-SAN {
  background: url("../assets/imgs/Santhiago - Paula Souza.png");
}

page-mapa .SAN-OM {
  background: url("../assets/imgs/Santhiago - Oscar Machado.png");
}

page-mapa .OM-SAN {
  background: url("../assets/imgs/Santhiago - Oscar Machado.png");
}

page-mapa .SAN-ETE {
  background: url("../assets/imgs/Santhiago - ETESP.png");
}

page-mapa .ETE-SAN {
  background: url("../assets/imgs/Santhiago - ETESP.png");
}

page-mapa .SAN-C {
  background: url("../assets/imgs/Santhiago - C.png");
}

page-mapa .C-SAN {
  background: url("../assets/imgs/Santhiago - C.png");
}

page-mapa .SAN-AB {
  background: url("../assets/imgs/Santhiago - AB.png");
}

page-mapa .AB-SAN {
  background: url("../assets/imgs/Santhiago - AB.png");
}

page-mapa .PS-OM {
  background: url("../assets/imgs/Paula Souza - Oscar Machado.png");
}

page-mapa .OM-PS {
  background: url("../assets/imgs/Paula Souza - Oscar Machado.png");
}

page-mapa .PS-ETE {
  background: url("../assets/imgs/Paula Souza - ETESP.png");
}

page-mapa .ETE-PS {
  background: url("../assets/imgs/Paula Souza - ETESP.png");
}

page-mapa .C-PS {
  background: url("../assets/imgs/Paula Souza - C.png");
}

page-mapa .PS-C {
  background: url("../assets/imgs/Paula Souza - C.png");
}

page-mapa .OM-ETE {
  background: url("../assets/imgs/Oscar Machado - ETESP.png");
}

page-mapa .ETE-OM {
  background: url("../assets/imgs/Oscar Machado - ETESP.png");
}

page-mapa .OM-C {
  background: url("../assets/imgs/Oscar Machado - C.png");
}

page-mapa .C-OM {
  background: url("../assets/imgs/Oscar Machado - C.png");
}

page-mapa .OM-AB {
  background: url("../assets/imgs/Oscar Machado - AB.png");
}

page-mapa .AB-OM {
  background: url("../assets/imgs/Oscar Machado - AB.png");
}

page-mapa .ETE-C {
  background: url("../assets/imgs/Etesp - C.png");
}

page-mapa .C-ETE {
  background: url("../assets/imgs/Etesp - C.png");
}

page-mapa .AB-PS {
  background: url("../assets/imgs/AB - Paula Souza.png");
}

page-mapa .PS-AB {
  background: url("../assets/imgs/AB - Paula Souza.png");
}

page-mapa .AB-ETE {
  background: url("../assets/imgs/AB - ETESP.png");
}

page-mapa .ETE-AB {
  background: url("../assets/imgs/AB - ETESP.png");
}



